/* Reset CSS (JANGAN DIHAPUS) */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: #838386;
  background-color: #ffffff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh !important;
}
li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.divider {
  margin: 1rem 0;
  border-bottom: 1px solid #e9ecef;
}
/* --------------------------------------------- */
/* Table                                         */
/* --------------------------------------------- */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

/* --------------------------------------------- */
/* Posisi text                                   */
/* --------------------------------------------- */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/* --------------------------------------------- */
/* Batas Content                                 */
/* --------------------------------------------- */
.section-white {
  padding: 60px 0;
  background-color: #ffffff;
  fill: #ffffff;
}
.section-grey {
  padding: 60px 0;
  background-color: #f7f7f7;
  fill: #f7f7f7;
}

/* --------------------------------------------- */
/* Button                                        */
/* --------------------------------------------- */
a.btn {
  text-decoration: none;
}
.btn {
  display: inline-block;
  max-width: 100%;
  min-width: 210px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 35px;

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #7952b3;
  border-color: #7952b3;
}
.btn-secondary {
  color: #ffffff;
  background-color: #ffa900;
  border-color: #ffa900;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background-color: #61428f;
  border-color: #61428f;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #ffffff;
  background-color: #2c20c0;
  border-color: #2c20c0;
}
.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/* --------------------------------------------- */
/* Responsive                                    */
/* --------------------------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 1.55556;
  }
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* --------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
