/* Reset CSS (JANGAN DIHAPUS) */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
    background-color: #fff;
    color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
}

.container {
    padding: 20px 30px;
}

.divider {
    border-bottom: 1px solid #3f3f3f;
}

@media screen and (max-width: 320px) {

}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 900px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 1200px) {
    
}
