/* Reset CSS (JANGAN DIHAPUS) */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    color: #838386;
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh !important;
    padding: 0px;
}
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.divider {
    margin: 1rem 0;
    border-bottom: 1px solid #e9ecef;
}
/* --------------------------------------------- */
/* Table                                         */
/* --------------------------------------------- */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

/* --------------------------------------------- */
/* Posisi text                                   */
/* --------------------------------------------- */
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}

/* --------------------------------------------- */
/* Batas Content                                 */
/* --------------------------------------------- */
.section-white {
    padding: 60px 0;
    background-color: #ffffff;
    fill: #ffffff;
}
.section-grey {
    padding: 60px 0;
    background-color: #f7f7f7;
    fill: #f7f7f7;
}

/* --------------------------------------------- */
/* Button                                        */
/* --------------------------------------------- */
a.btn {
    text-decoration: none;
}
.btn {
    display: inline-block;
    max-width: 100%;
    min-width: 210px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 35px;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}
.btn-default {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn-primary {
    color: #ffffff;
    background-color: #7952b3;
    border-color: #7952b3;
}
.btn-secondary {
    color: #ffffff;
    background-color: #ffa900;
    border-color: #ffa900;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-default:hover,
.btn-default:active {
    color: #ffffff;
    background-color: #ffa900;
    border-color: #ffa900;
}
.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #61428f;
    border-color: #61428f;
}
.btn-secondary:hover,
.btn-secondary:active {
    color: #ffffff;
    background-color: #2c20c0;
    border-color: #2c20c0;
}
.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* --------------------------------------------- */
/* Responsive                                    */
/* --------------------------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 16px;
        line-height: 1.55556;
    }
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* --------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
}
.menu {
    display: flex;
    align-items: center;
}
.list-menu {
    text-align: center;
}
.list-menu li {
    display: inline-block;
    margin: 0 15px;
}
.list-menu > li > a {
    padding: 37px 0;
    font-size: 18px;
    color: #333333;
    line-height: 1;
    vertical-align: middle;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.list-menu > li.active > a {
    color: #ffa900;
    background: transparent;
}
.list-menu > li > a:hover {
    color: #ffa900;
}

.banner > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner {
    position: relative;
}
.overlay {
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.web-desc {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 25%;
    color: #fff;
    padding: 0 150px;
}

/* Giri CSS Part */
.tour {
    justify-content: space-between;
}
.divider {
    display: inline-block;
    border: 0;
    font-size: 0;
    line-height: 0;
    height: 3px;
    max-width: 100px;
    width: 100%;
}
.tour-desc {
    margin-top: 12px;
}
.card {
    display: flex;
    flex-wrap: wrap;
}
.card-mini {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.card-tour {
    padding: 0 15px;
    flex: auto;
    width: 33.33%;
    max-width: 570px;
}
.card-img {
    position: relative;
    overflow: hidden;
    max-width: 570px;
    border-radius: 8px;
}
.card-img:hover .card-photo {
    transform: scale3d(1.05, 1.05, 1.05);
}
.card-img .card-photo {
    transition: 550ms ease-in-out;
    will-change: transform;
}
.card-img:hover .card-read {
    opacity: 1;
}
.card-img .card-read {
    opacity: 0;
}
figure {
    margin: 0 !important;
}
.card-photo img {
    width: 100%;
    vertical-align: middle;
}
.card-read {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 550ms ease-in-out;
}
.card-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-desc h3 {
    font-weight: bold;
    color: black;
    margin-top: 8px;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: 24px;
}
.card-desc h5 {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.card-desc span {
    color: #ffa900;
}

/* Giri CSS Part Layanan Kami */

.box-minimal-border .box-minimal-icon {
    font-size: 30px;
    color: #ffa900;
}

.row {
    display: flex;
}
.column {
    flex: auto;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.about-section {
    padding-bottom: 50px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.45;
    letter-spacing: 0.06em;
}

.box-minimal-border {
    padding: 20px 15px;
    border-radius: 8px;
    border: 1px solid #dfe1ea;
    transition: 450ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

footer {
    padding: 55px 0;
    background-color: #151515;
}
.row-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.row-foot ul {
    vertical-align: middle;
}
.row-foot li {
    float: left;
    margin: 10px;
    vertical-align: middle;
}
.row-foot li a {
    border-radius: 50%;
    color: #dfe1ea;
    background: rgba(255, 255, 255, 0.1);
    width: 1.9em;
    height: 1.9em;
    line-height: 1.9em;
    font-size: 24px;
    text-align: center;
}
.row-foot li a:hover {
    background: #02bcf3;
}
